{% load static %}


<!DOCTYPE html>
  <head>
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="icon" type="image/ico" href="{% static 'favicon.ico' %}"/>
    
    <!-- Fontawesome  -->
    <link rel="stylesheet" type="text/css" href="{% static 'map1.css' %}" />

    <!-- Leaflet  -->
    <script type="module" src="{% static 'leaflet-side-by-side/leaflet-side-by-side.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet.css' %}" />

   <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="{% static 'leaflet.js' %}"></script>

    {% block extrascripts %}{% endblock %}

    <!-- Extension Géoportail pour Leaflet  -->
    {% comment %} <script src="{% static 'GpPluginLeaflet.js' %}" data-key="altimetrie,essentiels,environnement"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'GpPluginLeaflet.css' %}" /> {% endcomment %}
    
    <!-- Map JS scripts  -->
    {% comment %} <script src="{% static 'map.js' %}"></script> {% endcomment %}
    <script src="{% static 'map1.js' %}"></script>
  </head>


  <body>
    <div id="map1"></div>
  </body>

</html>
